set surround
set multiple-cursors
set relativenumber
set number
set visualbell
set noerrorbells

set incsearch
set hlsearch
set ignorecase smartcase
set showmode

let mapleader = " "

inoremap jk <Esc>
map <leader><leader> :action QuickJavaDoc<CR>

map <leader>; :action LocateInSolutionView<CR>
map <leader>ff :action Find<CR>
map <leader>fF :action FindModal<CR>
map <leader>/ :action CommentByLineComment<CR>
map <leader>fu :action FindUsages<CR>
map <leader>u  :action ShowUsages<CR>
map <leader>rr :action RenameElement<CR>
map <leader>rt :action Refactorings.QuickListPopupAction <CR>
map <leader>q  :action CloseActiveTab<CR>

map <leader>ga :action GotoAction<CR>
map <leader>gm :action FileStructurePopup<CR>
map <leader>gi :action GotoImplementation<CR>
map <leader>gd :action GotoDeclaration<CR>
map <leader>gf :action GotoFile<CR>
map <leader>gs :action GotoSymbol<CR>
map <leader>gt :action GotoClass<CR>
map <leader>gr :action RecentFiles<CR>
map <leader>ge :action RecentChangedFiles<CR>

map <leader>ri :action Inline<CR>
map <leader>rv :action IntroduceVariable<CR>
vmap <leader>rv :action IntroduceVariable<CR>

noremap Y ^y$

nnoremap <leader>tr :action RiderUnitTestRunContextAction<CR>
nnoremap <leader>td :action RiderUnitTestDebugContextAction<CR>

nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
nnoremap <c-w> :action JumpToLastWindow<CR>

nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

nnoremap <leader>a :action GotoAction<CR>
vnoremap <leader>a :action GotoAction<CR>

set clipboard+=ideaputset clipboard+=ideaput
